body {
  background-color: #eeeeee;
  background-image: -webkit-linear-gradient(65deg, #00adb5 50%, #eeeeee 50%);
  min-height: 1000px;
}

footer{
  text-align: center;
}

h1 {
  background-color: #00adb5;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"]:checked + label.lbl {
  text-decoration: line-through;
  text-decoration-color: #00adb5;
}
ul {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}


.add-btn {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #00adb5;
  color: #fff;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 6px;
  border-width: 0;
}

.list-input {
  width: 91%;
  text-align: center;
  border: none;
}

.list-input:focus {
  outline: none;
  border-bottom: 3px solid #00adb5;
}

::placeholder {
  opacity: 0.5;
}
